*.pyc
*.pyo
*.swp
*~

# Packages
*.egg
*.egg-info
dist
build/
eggs
bin
sdist

#Sphinx builds
_build

# Installer logs
pip-log.txt

# Flake8 violation file
violations.flake8.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
__pycache__
database.db

# Sphinx
docs/_build

# Virtual environments
env
env*

.webassets-cache
*.sublime-*