#
# Use http://lint.travis-ci.org/ to validate the configs here
#

language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"

# command to install dependencies
install: "pip install -r requirements.txt --use-mirrors"

# command to run tests
script: nosetests

notifications:
  email: false
  irc:
    channels:
      - "chat.freenode.net#<channel-name>"
    on_success: change
    on_failure: always
    use_notice: true
    skip_join: true