Flask==0.11.1

# Flask Extensions
Flask-Assets==0.11
Flask-Cache==0.13.1
Flask-DebugToolbar==0.10.0
Flask-Login==0.3.2
Flask-Migrate==1.1.0
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Flask-WTF==0.12

# Other
itsdangerous==0.24
cssmin==0.2.0
jsmin==2.1.1

# Testing
pytest==2.9.2
pytest-cov==2.3.1
mccabe==0.5.2
flake8==2.5.4
