{% extends "base.html" %}

{% block title %}WTForms Example{% endblock %}

{% block body %}
    <form role="form" action="{{ url_for('.wtform') }}" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="user_name">User Name *</label>
            {{ form.user_name(class_="form-control") }}
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            {{ form.message(class_="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}